/tmp
/pdf
/.tx/config
gitHeadInfo.gin
/.transifexrc
src/*/*diff*.tex
src/*diff*.tex

*.pdf
!src/img/*.pdf

/*.lco
/*.sty
/*.hak
/*.cls
/*.clo

src/*.lco
src/*.sty
src/*.hak
src/*.cls
src/*.clo

*.texnicle
*.aux
*.toc
*.ptc*
*.out
*.blg
*.bbl
*.maf
*.log
*.mtc*
*.synctex.gz*
*.DS_Store
