/out
/translated
/po

src/iuf-rulebook.texnicle

src/1_general_rules_and_definitions.aux

src/iuf-rulebook.toc

src/iuf-rulebook.ptc1

src/iuf-rulebook.pdf

src/iuf-rulebook.out

src/iuf-rulebook.blg

src/iuf-rulebook.bbl

src/iuf-rulebook.maf

src/iuf-rulebook.log

src/iuf-rulebook.mtc0

src/iuf-rulebook.mtc

src/iuf-rulebook.synctex.gz

src/iuf-rulebook.aux
